<ion-header>
  <cabecalho-customizado [titulo]="'Inicio'"></cabecalho-customizado>
</ion-header>

<ion-content padding>
  <button ion-button (click)="listarDispositivosPareados()">Listar dispositivos pareados</button>

  <ion-list padding>
    <button ion-item *ngFor="let dispositivo of listaDispositivosPareados" 
      (press)="pressionado(dispositivo)"
      (click)="conectar(dispositivo)">
      {{ dispositivo.Nome }}
    </button>
  </ion-list>

  <button ion-button (click)="listarDispositivosNaoPareados()">Listar dispositivos não pareados</button>

  <ion-list padding>
    <button ion-item *ngFor="let dispositivoNaoPareado of listaDispositivosNaoPareados" (press)="pressionado(dispositivoNaoPareado)">
      {{ dispositivoNaoPareado.Nome }}
    </button>
  </ion-list>

  <p *ngIf="conectado != null"> {{ conectado.Nome }}</p>

  <button ion-button (click)="enviarMsg(0)">OFF</button>
  <button ion-button (click)="enviarMsg(1)">ON</button>
  <button ion-button (click)="conectadoDisp()">CONECTADO????</button>
  <button ion-button (click)="teste3()">TESTE3</button>

  <button ion-button (click)="testeMQTT()">Conectar MQTT</button>
  <button ion-button color="secondary" (click)="publicarMqtt()">Publicar mqtt</button>
  <button ion-button color="dark" (click)="inscreverMqtt()">Inscrever mqtt</button>
  <button ion-button color="light" (click)="desinscreverMqtt()">Deinscrever mqtt</button>

  <ion-item>
    <ion-label>Teste</ion-label>
    <ion-toggle color="red" [checked]="checado" (ionChange)="changeTeste($event)"></ion-toggle>
  </ion-item>
</ion-content>